.page-sessions.action-new,
.page-sessions.action-create,
.page-passwords.action-new,
.page-passwords.action-edit {
  padding-top: 25px;

  .logos-asterisk {
    background: image-url('branding/logos/asterisk.png') no-repeat;
    height: 158px;
    margin: 42px auto 42px;
    width: 158px;
  }

  .block-form {
    max-width: 400px;
  }
}

.page-sessions.action-new::after {
  background: image-url('omgsrslydotnet/theowl.gif');
  background-position: center;
  background-size: cover;
  content: '';
  height: 100%;
  left: 0;
  opacity: .2;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
